* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bg-blue {
    background: rgb(54, 129, 243);
}

.color-white {
    color: #fff;
}

.txt-center {
    text-align: center;
}

.item-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}